.example-spacer {
    flex: 1 1 auto;
  }
  .mat-toolbar.mat-primary {
    background: #f5059a;
    color: #fff;
}
.mat-flat-button.mat-warn, .mat-raised-button.mat-warn, .mat-fab.mat-warn, .mat-mini-fab.mat-warn {
  background-color: #5d55e9;
}

