.example-spacer {
    flex: 1 1 auto;
  }
  .mat-toolbar.mat-primary {
    background: #f5059a;
    color: #fff;
}
.mat-flat-button.mat-warn, .mat-raised-button.mat-warn, .mat-fab.mat-warn, .mat-mini-fab.mat-warn {
  background-color: #5d55e9;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.container{
  max-width: 1200px;
  margin: 0 auto ;
}
